.App {
  text-align: center;
  background: #000;
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

.Modal {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  height: 30vh;
  transform: translate(-50%, -50%);
  background: #333;
  padding: 30px;
}
.Modal:focus-visible {
  outline: none;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.green-overlay {
  background: #538d4e !important;
  border-color: #538d4e !important;
}

.yellow-overlay {
  background: #b59f3b !important;
  border-color: #b59f3b !important;
}

.grey-overlay {
  background: #3a3a3c !important;
  border-color: #3a3a3c !important;
}
